*.iml
*.log
*.classpath
*.project
.idea/*
.settings
target/*
reports
test-output
.settings/*
lenkins
/jenkins
variables.env
/variables.env

automation-infrastructure/variables.env
/automation-infrastructure/variables.env
automation-infrastructure/jenkins
/automation-infrastructure/jenkins
automation-infrastructure/target
automation-infrastructure/test-output
automation-infrastructure/reports
automation-infrastructure/.settings
automation-infrastructure/.classpath
automation-infrastructure/.project
automation-infrastructure/velocity.log
automation-infrastructure/sql.log
automation-infrastructure/application.log
/automation-infrastructure/bin
/automation-infrastructure/target
/automation-infrastructure/.settings/
/automation-infrastructure/target/
/automation-infrastructure/test-output/
/automation-infrastructure/.classpath
/automation-infrastructure/.project
/automation-infrastructure/reports
/automation-infrastructure/.idea

/reports/
application.log
sql.log
/automation-infrastructure/automation-infrastructure.iml
automation-infrastructure/automation-infrastructure.iml
/target/
